<link href="acudiente.component.css" type="text/css" rel="stylesheet">
<div id="menu">
  <ul class="horizontal">
    <li><a href="#?"><img
      src="https://manuelsarevalo.neocities.org/NGN/logonazaret.png"
      width="100"></a></li>
    <li><select>
      <option>Seleccione</option>
      <option value="hujo 1">Hijo 1</option>
      <option value="hijo n">Hijo n</option>
    </select></li>
    <li><a href="#">Consultar notas notas</a></li>
    <li><a href="?">Actualizar mis datos</a></li>
    <li><a href="?#"><img
      src="https://manuelsarevalo.neocities.org/NGN/switch-turn-off-icon.png"
      width="40"></a></li>
  </ul>
</div>
