<link href="acudiente.component.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="acudiente.js"></script>
<div id="menu" style="min-height: 100vh">
  <ul class="horizontal">
    <li><img
      src="https://manuelsarevalo.neocities.org/NGN/logonazaret.png"
      width="100" id="imagen" title="Nazaret"></li>
    <li style="text-align: center"><select>
      <option>Seleccione</option>
      <option value="hujo 1">Hijo 1</option>
      <option value="hijo n">Hijo n</option>
    </select></li>
    <li><a onclick="Consultar()">Consultar notas notas</a></li>
    <li><a onclick="Actualizar()">Actualizar mis datos</a></li>
    <li><a href="?#"><img
      src="https://manuelsarevalo.neocities.org/NGN/switch-turn-off-icon.png"
      width="40" id="imagen1" title="Cerrar Sesion"></a></li>
  </ul>
</div>
<div id="bienvenida">
  <img src="https://manuelsarevalo.neocities.org/NGN/bienvenido.png" width="500">
</div>


<div id="consultar" style="display: none" ng-app="miApp" ng-controller="myControl">
  <label>Estudiante:    {{}}</label><br>
  <label>Documento:     {{}}</label><br>
  <label>Curso:         {{}}</label><br><br>
  <table id="notas" align="center">
    <thead>
      <tr>
        <th>Codigo Materia</th>
        <th>Nombre Asignatura</th>
        <th>Primer Periodo</th>
        <th>Segundo Periodo</th>
        <th>Tercer Periodo</th>
        <th>Cuarto Periodo</th>
        <th>Definitiva</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
      </tr>
      <tr>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="actualizar" style="display: none">
  <p id="texto">A continuacion encontraras tu informacion personal para ser modificada.</p>
  <form>
    <table id="datos">
      <tr>
        <td>
          <label>Nombre:</label>
        </td>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr>
        <td>
          <label>Apellidos:</label>
        </td>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr>
        <td>
          <label>Documento:</label>
        </td>
        <td>
          <label>1020809520</label>
        </td>
      </tr>
      <tr>
        <td>
          <label>Fecha de Nacimiento:</label>
        </td>
        <td>
          <input type="date">
        </td>
      </tr>
    </table>
    <button onclick="alert('Hola!')">Guardar</button>
  </form>
</div>
