<link href="estudiante.component.css" type="text/css" rel="stylesheet">
<div id="menu" style="min-height: 100vh">
  <ul class="horizontal">
    <li><a href="#?"><img
      src="https://manuelsarevalo.neocities.org/NGN/logonazaret.png"
      width="100"></a></li>
    <li><a href="#">Consultar Mis Notas</a></li>
    <li><a href="?">Actualizar Mis Datos</a></li>
    <li><a href="?#"><img
      src="https://manuelsarevalo.neocities.org/NGN/switch-turn-off-icon.png"
      width="40"></a></li>
  </ul>
</div>
<div id="bienvenida">
  <img src="https://manuelsarevalo.neocities.org/NGN/bienvenido.png" width="500">
</div>
