<link href="login.component.css" type="text/css" rel="stylesheet">
<form align="center" (submit)="loginUser($event)">
  <br/><br/><br/><br/><br/>
  <a href="http://colegionazaret.edu.co/" target="_blank"><img src="https://www.eduweb.com.ve/portal/nsconsolacion/images/logonazaret.png" width="130"></a>
  <br/><br/>
  <table align="center">
    <tr>
      <th>
        <label>User:</label>
      </th>
      <th>
        <input type="text" placeholder="Ingresa tu usuario">
      </th>
    </tr>
    <tr></tr>
    <tr>
      <th>
        <label>Password:</label>
      </th>
      <th>
        <input type="password" placeholder="Ingresa tu contrasena">
      </th>
    </tr>
  </table>
  <br/>
  <a href="../remember-psw/remember-psw.component.html">No puedo ingresar...</a><br><br>
  <button>Ingresar</button>
</form>
