<link href="login.component.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<form align="center" #loginForm="ngForm" name="form" (ngSubmit)="loginForm.form.valid && login()" novalidate>
  <br/><br/><br/><br/><br/>
  <div id="login">
  <a href="http://colegionazaret.edu.co/" target="_blank"><img src="https://manuelsarevalo.neocities.org/NGN/logonazaret.png" width="130"></a>
  <br/><br/>
  <table align="center">
    <tr>
      <th>
        <label>User:</label>
      </th>
      <th>
        <input type="text" name="user" placeholder="Ingresa tu usuario" required ngModel>
      </th>
    </tr>
    <tr></tr>
    <tr>
      <th>
        <label>Password:</label>
      </th>
      <th>
        <input type="password" name="pass" placeholder="Ingresa tu contrasena" required ngModel>
      </th>
    </tr>
  </table>
  <a href="../remember-psw/remember-psw.component.html">No puedo ingresar...</a><br><br>
    <button type="submit">Enviar</button>
  </div>
</form>
