<link href="docente.component.css" type="text/css" rel="stylesheet">
<div id="menu" style="min-height: 100vh">
  <ul class="horizontal">
    <li><a href="#?"><img
      src="https://manuelsarevalo.neocities.org/NGN/logonazaret.png"
      width="100"></a></li>
    <li><a href="#">Agregar notas</a></li>
    <li><a href="?">Ver mis cursos</a></li>
    <li><a href="?">Ver por estudiante</a></li>
    <li><a href="?">Actualizar mis datos</a></li>
    <li><a href="?#"><img
      src="https://manuelsarevalo.neocities.org/NGN/switch-turn-off-icon.png"
      width="40"></a></li>
  </ul>
</div>
