body{
  margin: 0;
  background-color: #cccccc;
}

#menu{
  float: left;
}

#menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
  font-family: Blackletter, sans-serif;
  font-size: 11pt;
  background: #404c81;
  height: 100%;
}

#menu ul li {
  background-color: #404C81;
}

#menu ul li a {
  color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
}

#menu ul li a:hover {
  background: #6E81D5;
  border-left: 10px solid #333;
  color: #fff;
}

#bienvenida {
  text-align: center;
}

#actualizar{
  position: absolute;
  top: 5%;
  left: 25%;
  background-color: #dddddd;
  border-radius: 25px;
}

#actualizar p{
  font-family: sans-serif;
  font-size: 15px;
  padding: 15px 10px;
}

#actualizar header{
  background-color: #3a7999;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 25px 25px 0px 0px;
}

input {
  font-size: 0.9em;
  padding: 0.4em;
  border-radius: 9px;
  border: 1px solid;
}

input[type=date]{
  width: 100%;
}

#actualizar select{
  padding: 0px 0px 7px 0px;
  text-align: center;
  width: 180px;
  border-radius: 5px;
  border: 1px solid;
}

#datos td{
  padding: 18px 25px;
}

button {
  border: none;
  background: #3a7999;
  color: #f2f2f2;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 10ms ease;
}

button:before {
  content:'';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 52px;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  transition: all 1s ease;
}

button:hover:before {
  width: 100%;
}

#enviar{
  border: none;
  background-color: #3a7999;
  color: #f2f2f2;
}

label{
  font-family: sans-serif;
  font-size: 16px;
}

#imagen{
  padding: 10px 10px 10px 20px;
}

#imagen1{
  padding: 10px 10px 10px 50px;
}
