body{
  margin: 0;
  background-color: #cccccc;
}

#menu{
  float: left;
}

#menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
  font-family: Blackletter, sans-serif;
  font-size: 11pt;
  background: #404c81;
  height: 100%;
}

#menu ul li {
  background-color: #404C81;
}

#menu ul li a {
  color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
}

#menu ul li a:hover {
  background: #6E81D5;
  border-left: 10px solid #333;
  color: #fff;
}

#bienvenida {
  text-align: center;
}

#actualizar{
  position: absolute;
  top: 5%;
  left: 25%;
  background-color: #dddddd;
  border-radius: 25px;
}

#actualizar p{
  font-family: sans-serif;
  font-size: 15px;
  padding: 15px 10px;
}

#actualizar header{
  background-color: #3a7999;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 25px 25px 0px 0px;
}

input {
  font-size: 0.9em;
  padding: 0.4em;
  border-radius: 9px;
  border: 1px solid;
}

input[type=date]{
  width: 100%;
}

#actualizar select{
  padding: 0px 0px 7px 0px;
  text-align: center;
  width: 180px;
  border-radius: 5px;
  border: 1px solid;
}

#datos td{
  padding: 18px 25px;
}

button {
  border: none;
  background: #3a7999;
  color: #f2f2f2;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 10ms ease;
}

button:before {
  content:'';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 52px;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  transition: all 1s ease;
}

button:hover:before {
  width: 100%;
}

#enviar{
  border: none;
  background-color: #3a7999;
  color: #f2f2f2;
}

label{
  font-family: sans-serif;
  font-size: 16px;
}

#imagen{
  padding: 10px 10px 10px 20px;
}

#imagen1{
  padding: 10px 10px 10px 50px;
}

#VerEstudiante{
  position: absolute;
  top: 3%;
  left: 16%;
  background-color: #dddddd;
  border-radius: 25px;
  width: 500px;
  height: 250px;
}

#VerEstudiante header{
  background-color: #3a7999;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 25px 25px 0px 0px;
}

#VerEstudiante table{
  padding: 18px 25px;
}

#VerEstudiante table td{
  padding: 10px 25px;
}

#VerEstudiante select{
  padding: 0px 0px 7px 0px;
  text-align: center;
  width: 180px;
  border-radius: 5px;
  border: 1px solid;
}

#VerEstudiante input[type=submit]{
  border: none;
  background-color: #3a7999;
  color: #f2f2f2;
}

#resultadoEstudiante{
  position: absolute;
  top: 42%;
  left: 16%;
  background-color: #dddddd;
  border-radius: 25px;
  width: auto;
  height: 280px;
}

#resultadoEstudiante header {
  background-color: #3a7999;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 25px 25px 0px 0px;
}

#resultadoEstudiante a{
  padding: 40px;
  color: #003399;
  text-decoration: underline;
  font-family: sans-serif;
}

#resultadoEstudiante label{
  padding: 15px 40px;
}

#notas{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  /*background: #fff;*/
  width: 480px;
  border-collapse: collapse;
  text-align: left;
  margin: 20px;
}

#notas tr{
  border-bottom: 1px solid #ddd;
}

#notas thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

#notas th{
  font-size: 14px;
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 48px;
}

#notas tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

#notas tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

#notas td {
  border-bottom: 1px solid grey;
  color: #404c81;
  padding: 7px 50px;
}

#VerCursos{
  position: absolute;
  top: 5%;
  left: 25%;
  background-color: #dddddd;
  border-radius: 25px;
}

#VerCursos header{
  background-color: #3a7999;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 25px 25px 0px 0px;
}

#cursos{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  /*background: #fff;*/
  width: 480px;
  border-collapse: collapse;
  text-align: left;
  margin: 20px;
}

#cursos tr{
  border-bottom: 1px solid #ddd;
}

#cursos thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

#cursos th{
  font-size: 14px;
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 48px;
}

#cursos tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

#cursos tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

#cursos td {
  border-bottom: 1px solid grey;
  color: #404c81;
  padding: 7px 50px;
}

#Cargar{
  position: absolute;
  top: 42%;
  left: 16%;
  background-color: #dddddd;
  border-radius: 25px;
  width: auto;
  height: 280px;
}

#Cargar header{
  background-color: #3a7999;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 25px 25px 0px 0px;
}

#Cargar a{
  cursor: pointer;
  padding: 50px;
  color: #003399;
  text-decoration: underline;
  font-family: sans-serif;
  font-size: 13px;
}

#Cargar input[type=number]{
  font-size: 0.9em;
  padding: 0.4em;
  border-radius: 9px;
  border: 1px solid;
  width: 60px;
  height: 20px;
}

#tableCargar{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  /*background: #fff;*/
  width: 480px;
  border-collapse: collapse;
  text-align: left;
  margin: 20px;
}

#tableCargar tr{
  border-bottom: 1px solid #ddd;
}

#tableCargar thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

#tableCargar th{
  font-size: 14px;
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 48px;
}

#tableCargar tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

#tableCargar tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

#tableCargar td {
  border-bottom: 1px solid grey;
  color: #404c81;
  padding: 7px 50px;
}

#enviarNotas{
  border: none;
  background-color: #3a7999;
  color: #f2f2f2;
}
