<link href="admin.component.css" rel="stylesheet" type="text/css">
<div id="menu" style="min-height: 100vh">
  <ul class="horizontal">
    <li><a href="#?"><img
      src="https://manuelsarevalo.neocities.org/NGN/logonazaret.png"
      width="100"></a></li>
    <li><a href="#">Salones</a>
    <ul>
      <li><a href="#">Crear Salon</a></li>
      <li><a href="#">Actualizar Salon Salon</a></li>
      <li><a href="#">Consultar Salon</a></li>
      <li><a href="#">Eliminar Salon</a></li>
    </ul>
    </li>
    <li><a href="?">Materias</a>
    <ul>
      <li><a href="#">Crear Materia</a></li>
      <li><a href="#">Actualizar Materia</a></li>
      <li><a href="#">Consultar Materia</a></li>
      <li><a href="#">Eliminar Materia</a></li>
    </ul>
    </li>
    <li><a href="?">Docentes</a>
    <ul>
      <li><a href="?">Crear docente</a></li>
      <li><a href="?">Actualizar docente</a></li>
      <li><a href="?">Consultar docente</a></li>
      <li><a href="?">Eliminar docente</a></li>
    </ul>
    </li>
    <li><a href="?">Estudiantes</a>
    <ul>
      <li><a href="?">Crear estudiante</a></li>
      <li><a href="?">Actualizar estudiante</a></li>
      <li><a href="?">Consultar estudiante</a></li>
      <li><a href="?">Eliminar estudiantes</a></li>
    </ul>
    </li>
    <li><a href="#">Acudientes</a>
    <ul>
      <li><a href="?">Crear Acudiente</a></li>
      <li><a href="?">Actualizar Acudiente</a></li>
      <li><a href="?">Consultar Acudiente</a></li>
      <li><a href="?">Eliminar Acudiente</a></li>
    </ul>
    </li>
    <li><a href="?">Asignar Materias</a></li>
    <li><a href="?">Asignar Docente</a></li>
    <li><a href="?#"><img
      src="https://manuelsarevalo.neocities.org/NGN/switch-turn-off-icon.png"
      width="40"></a></li>
  </ul>
</div>

<div id="bienvenida">
  <img src="https://manuelsarevalo.neocities.org/NGN/bienvenido.png" width="500">
</div>
