<link href="admin.component.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="admin.js"></script>
<div id="menu" style="min-height: 100vh">
  <ul>
    <li><a href="#?"><img
      src="https://manuelsarevalo.neocities.org/NGN/logonazaret.png"
      width="100" id="imagen"></a></li>
    <li><a>Cursos</a>
    <ul>
      <li><a onclick="CrearCurso()">Crear Curso</a></li>
      <li><a onclick="ActualizarCurso()">Actualizar Curso</a></li>
      <li><a onclick="ConsultarCurso()">Consultar Cursos</a></li>
      <li><a onclick="EliminarCurso()">Eliminar Curso</a></li>
    </ul>
    </li>
    <li><a>Materias</a>
    <ul>
      <li><a onclick="CrearMareria()">Crear Materia</a></li>
      <li><a onclick="ActualizarMareria()">Actualizar Materia</a></li>
      <li><a onclick="ConsultarMareria()">Consultar Materia</a></li>
      <li><a onclick="EliminarMareria()">Eliminar Materia</a></li>
    </ul>
    </li>
    <li><a>Docentes</a>
    <ul>
      <li><a onclick="CrearDocente()">Crear docente</a></li>
      <li><a href="?">Actualizar docente</a></li>
      <li><a href="?">Consultar docente</a></li>
      <li><a href="?">Eliminar docente</a></li>
    </ul>
    </li>
    <li><a href="?">Estudiantes</a>
    <ul>
      <li><a href="?">Crear estudiante</a></li>
      <li><a href="?">Actualizar estudiante</a></li>
      <li><a href="?">Consultar estudiante</a></li>
      <li><a href="?">Eliminar estudiantes</a></li>
    </ul>
    </li>
    <li><a href="#">Acudientes</a>
    <ul>
      <li><a href="?">Crear Acudiente</a></li>
      <li><a href="?">Actualizar Acudiente</a></li>
      <li><a href="?">Consultar Acudiente</a></li>
      <li><a href="?">Eliminar Acudiente</a></li>
    </ul>
    </li>
    <li><a href="?">Asignar Materias - Salon</a></li>
    <li><a href="?">Asignar Docente - Materia</a></li>
    <li><a href="?">Actualizar Mis Datos</a></li>
    <li><a href="?#"><img
      src="https://manuelsarevalo.neocities.org/NGN/switch-turn-off-icon.png"
      width="40" id="imagen1"></a></li>
  </ul>
</div>

<div id="bienvenida" style="display: block">
  <img src="https://manuelsarevalo.neocities.org/NGN/bienvenido.png" width="500">
</div>

<div id="CrearCurso" style="display: none">
  <header>Crear Curso</header>
  <form>
    <table>
      <tr>
        <td>
          <label>Nombre del Curso</label>
        </td>
        <td>
          <input type="text" required>
        </td>
      </tr>
    </table><br>
    <center><button><input type="submit" value="Guardar"></button></center>
  </form>
</div>

<div id="ActualizarCurso" style="display: none">
  <header>Actualizar Curso</header>
  <form>
    <table>
      <tr>
        <td>
          <label>ID del Curso</label>
        </td>
        <td>
          <input type="number" value="" required>
        </td>
      </tr>
      <tr>
        <td>
          <label>Nombre del Curso</label>
        </td>
        <td>
          <input type="text" value="{{}}" required>
        </td>
      </tr>
    </table><br>
    <center><button><input type="submit" value="Actualizar"></button></center>
  </form>
</div>

<div id="EliminarCurso" style="display: none">
  <header>Actualizar Curso</header>
  <form>
    <table>
      <tr>
        <td>
          <label>Id del Curso</label>
        </td>
        <td>
          <input type="number" value="" required>
        </td>
      </tr>
    </table><br>
    <center><button><input type="submit" value="Eliminar"></button></center>
  </form>
</div>

<div id="ConsultarCursos" style="display: none">
  <header>Cursos</header>
  <table id="listadoCurso" align="center">
    <thead>
      <tr>
        <th>
          Id Curso
        </th>
        <th>
          Nombre del Curso
        </th>
        <th>
          Cantidad de Estudiantes
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          prueba
        </td>
        <td>
          prueba
        </td>
        <td>
          prueba
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="CrearMateria" style="display: none">
  <header>Crear Materia</header>
  <form>
    <table>
      <tr>
        <td>
          <label>Nombre del Curso</label>
        </td>
        <td>
          <input type="text" required>
        </td>
      </tr>
    </table><br>
    <center><button><input type="submit" value="Guardar"></button></center>
  </form>
</div>

<div id="ActualizarMateria" style="display: none">
  <header>Actualizar Materia</header>
  <form>
    <table>
      <tr>
        <td>
          <label>ID Materia</label>
        </td>
        <td>
          <input type="number" value="" required>
        </td>
      </tr>
      <tr>
        <td>
          <label>Nombre Materia</label>
        </td>
        <td>
          <input type="text" value="{{}}" required>
        </td>
      </tr>
    </table><br>
    <center><button><input type="submit" value="Actualizar"></button></center>
  </form>
</div>

<div id="EliminarMateria" style="display: none">
  <header>Eliminar Materia</header>
  <form>
    <table>
      <tr>
        <td>
          <label>Id del Curso</label>
        </td>
        <td>
          <input type="number" value="" required>
        </td>
      </tr>
    </table><br>
    <center><button><input type="submit" value="Eliminar"></button></center>
  </form>
</div>

<div id="ConsultarMateria" style="display: none">
  <header>Consultar Materias</header>
  <table id="listadoMaterias" align="center">
    <thead>
    <tr>
      <th>
        Id Curso
      </th>
      <th>
        Nombre del Curso
      </th>
      <th>
        Cantidad de Estudiantes
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        prueba
      </td>
      <td>
        prueba
      </td>
      <td>
        prueba
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div id="CrearDocente" style="display: none">
  <header>Crear Docente</header>
  <form>
    <table id="datos">
      <tr>
        <td>
          <label>Nombre</label>
        </td>
        <td>
          <input type="text" required>
        </td>
        <td>
          <label>Apellidos</label>
        </td>
        <td>
          <input type="text" required>
        </td>
      </tr>
      <tr>
        <td>
          <label>Tipo de Documento</label>
        </td>
        <td>
          <select>
            <option>Seleccione</option>
            <option value="RC">Registro Civil</option>
            <option value="TI">Tarjeta de Identidad</option>
            <option value="CC">Cedula de Ciudadania</option>
            <option value="CE">Cedula de Extranjeria</option>
          </select>
        </td>
        <td>
          <label>Documento</label>
        </td>
        <td>
          <input type="number" required>
        </td>
      </tr>
      <tr>
        <td>
          <label>Genero</label>
        </td>
        <td>
          <select>
            <option>Seleccione</option>
            <option value="Femenido">Femenino</option>
            <option value="Masculino">Masculino</option>
          </select>
        </td>
        <td>
          <label>Fecha de Nacimiento</label>
        </td>
        <td>
          <input type="date">
        </td>
      </tr>
      <tr>
        <td>
          <label>Telefono contacto</label>
        </td>
        <td>
          <input type="number" required>
        </td>
        <td>
          <label>Direccion de Recidencia</label>
        </td>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr>
        <td>
          <label>Correo Electronico</label>
        </td>
        <td>
          <input type="email" required>
        </td>
      </tr>
    </table>
    <br><br>
    <center><button><input type="submit" id="enviar" value="Actualizar"></button></center>
  </form>
</div>
