<link href="admin.component.css" rel="stylesheet" type="text/css">
<div id="menu">
  <ul class="horizontal">
    <li><a href="#?"><img
      src="https://www.eduweb.com.ve/portal/nsconsolacion/images/logonazaret.png"
      width="100"></a></li>
    <li><a href="#">Crear salon</a></li>
    <li><a href="?">Crear materias</a></li>
    <li><a href="?">Asignar materias</a></li>
    <li><a href="?">Crear docente</a></li>
    <li><a href="?">Asignar docente</a></li>
    <li><a href="?">Crear materias</a></li>
    <li><a href="?">Crear estudiantes</a></li>
    <li><a href="?">Habilitar docente</a></li>
    <li><a href="?#"><img
      src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/switch-turn-off-icon.png"
      width="40"></a></li>
  </ul>
</div>
