<link href="remember-psw.component.css" type="text/css" rel="stylesheet">
<a href="../login/login.component.html"><img src="http://www.juanjogonzalez.com/Images/Web/flecha.png" width="40"></a>
<div id="remember" align="center">
<form formGroup="formularioRemember" align="center">
  <a href="http://colegionazaret.edu.co/" target="_blank"><img src="https://www.eduweb.com.ve/portal/nsconsolacion/images/logonazaret.png" width="120"></a>
  <table align="center">
    <tr>
      <th>
        <label>Correo:</label>
      </th>
      <th>
        <input type="email" placeholder="Ingresa tu correo" ngModel="correo">
      </th>
    </tr>
  </table>
  <br><br><br>
  <button>Enviar</button>
</form>
</div>
